body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --pink: #F7D2B3;
    --imgWidth: 627px;
}

header {
    width: 100vw;
}

.header {
    background-color: var(--pink);
    height: 216px;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.header-left {
   flex-basis: 500px;
}

.header-left h1 {
    font-size: 41px;
    text-align: right;
}

.header-left p {
    display: block;
    font-size: 22px;
    text-align: right;
    margin-top: -30px;
    /* position: relative;
    top: -30px; */
}

.header-right {
    padding-top: 40px;
}

.menu {
    width: 913px;
    display: flex;
    justify-content: space-evenly;

}

.menu div {
    font-size: 22px;
}

.menu div:nth-child(3) {
    flex-basis: 285px;
}

.header-img {
    background-image: url(images/recettes-bebe-diversification-alimentaire.gif);
    min-height: 336px;
}

.main-title {
    text-align: center;
    color: #0B843A;
}

.content {
    width: 1363px;
    margin: 0 auto;
}

.par-require {
    border-bottom: 4px dotted pink;
    max-width: 550px;
}

.list-require li {
    list-style-type: none;
    line-height: 1.75rem;
}

.list-require li i {
    display: inline-block;
    padding-right: 8px;
    color: var(--pink)
}

.no-cook {
    width: 737px;
    height: 491px;
    position: relative;
    left: 600px;
    bottom: 220px;
}

.bottom-pag {
    position: relative;
    bottom: 470px;
}

.bottom-pag p{
    margin-bottom: 80px;
}

.bottom-pag p:nth-child(1){
    width: 500px;
}

.bottom-images-container {
    position: relative;
    width: 1488px;
    margin: 0 auto;
    top: -520px;
    left: 50px;
}

.bottom-images {
    display: flex;
    flex-direction: row;
    /* justify-content: space-around; */
    gap: 30px;
}

.img-holder {
    flex-basis: 627px;
}

.baby-food {
    width: 627px;
}

.img-holder .jar {
    width: var(--imgWidth)
}

.img-holder .fruit {
    width: var(--imgWidth)
}

footer {
    min-height: 216px;
    background-color: var(--pink);
    padding-left: 50px;
    color: #09518E;
}

.my-footer {
    width: 1320px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
}

.footer-par {
    max-width: 300px;
}

.icons i {
    font-size: 40px;
    display: inline-block;
    padding-right: 10px;
}

@media screen and (max-with: 768px) {
    .header {
        background-color: var(--pink);
        height: 216px;
        color: white;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .menu {
        width: 767px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    
    }
    
}